/* ローディング画面のフェードイン・フェードアウト */
 .loading-page{
  animation: hide 3.5s ease 0.7s forwards;

  /* animation: hide ease 4.5s; */
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 1;
  margin: 0 auto;
 }
 @keyframes hide{
  0%{
    opacity: 1;
    visibility: visible;
  }
  70%{
    opacity: 0.7;
  }
  100%{
    opacity: 0;
    visibility:hidden;
  }
 }

/* index2.html */
.plus_icon{
  margin-top: 50%;
}
.picture{
  height: 20px;
}
.plus-pic{
 background-color: #e9ecef; 
 border-radius: 30px;
}
.input-group{
  margin-top: 50px;
}
.form-control .description{
  height: 100px;
}
.input-group-text{
  height: 400px;
}
.title-wrapper{
  height: 50px;
}
.card{
  border-radius: 30px;
}
.back_btn{
  margin: 5%;
  width: 200px;
  height: 50px;
}
.next_btn{
  width: 200px;
  height: 50px;
  margin: 10%;
  float: right;
}

.navbar{
  width: 100%;
  background-color: #e2e2e2;
}

.navbar-brand{
  color: black;
  margin: 0 10%;
}

.navbar-brand .btn{
  margin-right:20%;
}

/* 以上index2.html */