@charset "utf-8";

body{
    background-color: #fff;
}


header {
    display:none;
}



footer {
    display: none;
}

/*はるかさん担当：タイトルから「今日はどんな気分？」まで*/

.info-top{
  color:#808080;
  text-align: center;
}

.top{
    padding-top: 20px;
    font-size: 42px;
    color: black;
    font-family: Serif;
}


.box-1{
    background-color: #d9d9d9;
    padding: 10px;
    width: 400px;
    height: 70px;
    margin: 0 auto;
    border-radius: 45px;
    box-shadow: 10px 10px 4px #ccc;
}

.box-1 p{
    margin:0;
    padding: 20px;
    text-align: center;
    font-size: 18px;
}


.triangle{
    margin:3% 48%;
}

.triangle1{
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #d9d9d9;
    padding-top: 30px;
}

.box-2{
    background-color: #f89f11;
    color: #fff;
    padding: 10px;
    width: 400px;
    height: 70px;
    margin: 0 auto;
    border-radius: 30px;
    transition: .3s cubic-bezier(0.5,1,0.89,1);
    border: 3px solid #f89f11;
}
.box-2:hover{
    background: #fff;
    color: #ff701e;
    transform: scale(1.1);
}

.box-2 p{
    margin:0;
    padding: 20px;
    text-align: center;
    font-size: 18px;
}

/*いかさん担当：「～気分」ボタン作成から下*/

.intro-wrapper {
    display:block;
    width:1000px;
    padding-top:100px;
    margin: 0 auto;
    padding-left:100px;

}

.button1 {
    margin-right: 90px;
    border-radius:45px;
    height:70px;
    width:120px;
    background-color: #CF6EAD;
    border:none ;
    opacity:0.7;
    border: 3px solid #CF6EAD;
    box-shadow: 10px 10px 4px #ccc;
}

.button1:hover{
    background: #fff;
    color: #CF6EAD;
    transform: scale(1.1);
    box-shadow: none;
    transition: 0.5s;
}

.button2 {
    margin-right: 90px;
    border-radius:45px;
    height:70px;
    width:120px;
    background-color:#FFD978;
    border:none ;
    opacity:0.7;
    border: 3px solid #FFD978; 
    box-shadow: 10px 10px 4px #ccc;
}

.button2:hover{
    background: #fff;
    color: #FFD978;
    transform: scale(1.1);
    box-shadow: none;
    transition: 0.5s;
}

.button3 {
    margin-right: 90px;
    border-radius:45px;
    height:70px;
    width:120px;
    background-color:#FFEC99;
    border:none ;
    opacity:0.7;
    border: 3px solid #FFEC99;
    box-shadow: 10px 10px 4px #ccc;
}

.button3:hover{
    background: #fff;
    color: #FFEC99;
    transform: scale(1.1);
    box-shadow: none;
    transition: 0.5s;
}

.button4 {
    margin-right: 90px;
    border-radius:45px;
    height:70px;
    width:120px;
    background-color:#6EB65F;
    border:none ;
    opacity:0.7;
    border: 3px solid #6EB65F;
    box-shadow: 10px 10px 4px #ccc;
}

.button4:hover{
    background: #fff;
    color: #6EB65F;
    transform: scale(1.1);
    transition: 0.5s;
}

.button5{
    background-color: #569180;
    border:none ;
    border-radius:45px;
    height:70px;
    width:120px;
    opacity:0.7;
    border: 3px solid #569180;
    box-shadow: 10px 10px 4px #ccc;
}

.button5:hover{
    background: #fff;
    color: #569180;
    transform: scale(1.1);
    transition: 0.5s;
}

.images{
     width: auto;
}

/* 一覧表示画面のCSS　さや */
.card{
    margin: 10% auto; 
}